Package: ch.pythe.pink.goeo.privateplus
Name: PrivatePlus
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: automatic, per-tab private mode
Maintainer: pythech & goeo_
Author: pythech & goeo_
Section: Tweaks
